<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="fromAddress" value=""/>
    <add key="toAddress" value=""/>
    <add key="emailCredentialUserName" value=""/> <!-- This should not include the @gmail -->
    <add key="emailCredentialPassword" value=""/>
    <add key="emailPort" value="25"/> <!-- Try 25 or 465 -->
    <add key="emailHost" value="smtp.gmail.com"/>
    <add key="carMakeCode" value="CHEV"/>
    <add key="carModelCode" value="TRAVERSE"/>
  </appSettings>
</configuration>